body {
            margin: 0;
            font-family: Arial, sans-serif;
            background-color: #f5f5f5;
        }

        /* Encabezado */
        header {
            background-color: #5a2d82;
            color: white;
            padding: 20px;
            text-align: center;
        }

        /* Navegación */
        nav {
            background-color: #21022f;
            padding: 10px;
            text-align: center;
        }

        nav a {
            margin: 0 10px;
            text-decoration: none;
            color: #f0ebf3;
            font-weight: bold;
        }

        /* Contenedor principal */
        main {
            display: flex;
            gap: 20px;
            padding: 20px;
        }

        /* Sección principal */
        section {
            flex: 3;
            background-color: white;
            padding: 15px;
            border-radius: 5px;
        }

        /* Barra lateral */
        aside {
            flex: 1;
            background-color: #ffffff;
            padding: 15px;
            border-radius: 5px;
            border-left: 4px solid #5a2d82;
        }

        /* Imágenes */
        img {
            max-width: 1000%;
            height: auto;
            display: block;
            margin-top: 10px;
        }

        /* Pie de página */
        footer {
            background-color: #333;
            color: white;
            text-align: left;
            padding: 10px;
        }

@media (max-width: 1024px) {
    section {
        flex: 1;
    }

    aside{
        flex: 1;
    }
}

@media (max-width: 600px) {
    main {
        flex-direction: column;
    }
    nav {
        display: flex;
        flex-direction: column;
    }
    nav a {
        margin: 5px 0;
    }
}